/* Generics */
.flex,
.flex-center,
.flex-between,
.flex-col {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-center {
	align-items: center;
	justify-content: center;
}

.flex-between {
	justify-content: space-between;
}


/* Main Styling*/
:root {
	--color: orange;
	--grey-ish: #c4c4c4;
	--grey-light: #ebebeb;
}

* {
	margin: 0;
}

body {
	height: 100vh;
}

.container {
	width: 900px;
	height: 500px;
	position: relative;
	
	border: 5px solid var(--grey-light);
	border-radius: 41% 35% 54% 28% / 32% 28% 31% 67%;
	box-shadow: 0 5px 9px var(--grey-ish);
	
	overflow: hidden;
}

.container .btn {
	--s: 70px;
	--pos: calc(50% - var(--s) / 2);

	position: absolute;
	width: var(--s);
	height: var(--s);
	top: var(--pos);
	left: var(--pos);
	
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("img/play.png");
	
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	z-index: 1;
	
	transition: opacity 0.35s ease-in-out;
}

.container .btn[id="pause"] {
	background-image: url("img/pause.png");
}

.container:hover .btn {
	opacity: 1;
}

.container video {
	width: 100%;
	height: 100%;
	
	object-fit: cover;
}

.prog {
	position: relative;
	width: 47%;
	margin-top: 42px;
}

#title,
.prog p,
.prog .marker .time {
	color: var(--grey-ish);
	font-family: "Roboto";
	font-size: 0.92rem;
}

#title {
	margin-bottom: 32px;
	font-size: 1.15rem;
}

/* progress (playback time) bar */
.prog progress {
	-webkit-appearance: none;
	appearance: none;
	width: 77%;
}

.prog progress::-webkit-progress-inner-element {
	display: flex;
	align-items: center;
}

.prog progress::-webkit-progress-bar {
	height: 50%;
	margin: auto 0;
	border-radius: 4px;
	background-color: var(--grey-light);
}

.prog progress::-webkit-progress-value {
	border-radius: 4px;
	background-color: var(--color);
}

/* playback time marker */
.prog .marker {
	position: absolute;
	
	border-radius: 50%;
	background-color: var(--color);
	/* enables for smooth movement and click throughs */
	pointer-events: none;
	
	transform: scale(0);
	transition: transform 0.25s ease-in-out;
}

.prog .marker .time {
	position: relative;
	top: -22px;
	color: var(--color);
	font-size: 0.82rem;
}

#light {
	width: 30px;
	height: 30px;
	
	position: fixed;
	left: 12%;
	top: calc(50% - var(--h) / 2);
	
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("img/light-on.png");
	
	cursor: pointer;
}

#light[class="off"] {
	background-image: url("img/light-off.png")
}
